<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
    </head>
    <body style="background-color:#F7CAC9;">

        <h1>{{ heading }}</h1>
        <p>Hello from {{ name }} :)</p>

        <form action ="expression" method ="post">
            {% csrf_token %}
            To Add 2 Numbers, submit the form: 
            <br>
            <br>
            value 1 : <input type = 'text' name = 'text1'>
            value 2 : <input type = 'text' name = 'text2'>
            <input type = 'submit'>
        </form>
        <br>
        <br>
        <a href = "{{ portfolio }}">My Portfolio</a>
        {% if user.is_authenticated %}
            <a href = "{{ logout }} ">Logout</a>

        {% else %}
            <br>
            <br>
            <a href = "{{ signup }}">SignUp</a>
            <br>
            <br>
            <a href = "{{ login }}">LogIn</a>
        {% endif %}
 

</body>
</html>