<html>
<head>
<title>Login page</title>

</head>
<body>
<h1>Please Login</h1>
<form action = "login" method ="POST">
{% csrf_token %}
username : <input type = "text" name = "username">
password : <input type = "password" name = "password">
<input type = "submit">
</form>

</body>

</html>