<html>
<head>
<title> SignUp Page</title>
</head>
<body>
<form action="signup" method = "POST">
{% csrf_token %}
User Name : <input type = 'text' name = 'username'>
<br>
<br>

First Name : <input type = 'text' name = 'first_name'>
<br>
<br>

Last Name : <input type = 'text' name = 'last_name'>
<br>
<br>

Email : <input type = 'email' name = 'email_id'>
<br>
<br>

Password : <input type = 'password' name = 'password'>
<br>
<br>

<input type = "submit">


</form>
>
</body>
</html>